.background-img1 {
  background-image: url('/public/assets/4k-projector.jpg');
    height: 540px;
    background-size: cover;
    background-position: center;
  }
  .background-img2 {
    background-image: url('/public/assets/flat-panel10.jpg');
      height: 540px;
      background-size: cover;
      background-position: center;
    }
    .background-img3 {
      background-image: url('/public/assets/flat-panel-corporation.jpg');
        height: 540px;
        background-size: cover;
        background-position: center;
      }
      .background-img4 {
        background-image: url('/public/assets/conference.jpg');
          height: 540px;
          background-size: cover;
          background-position: center;
        }
        .background-img5 {
          background-image: url('/public/assets/benq-istashow.jpg');
            height: 540px;
            background-size: cover;
            background-position: center;
          }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .hero-section-button {
    font-weight: bold;
    color: white;
    border: 2px white solid;
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 25px;
    transition: background-color 0.8s ease, border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  }
  
  .hero-section-button:hover {
    background-color: #d83030;
    border: 2px solid #d83030;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    color: #fff0f0;
  }
  
  
  .custom-hero-text{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
  }
  .custom-hero-heading{
    width: 50%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
  }
  .custom-hero-text1{
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    color: white;
  }
  .custom-hero-heading1{
    width: 100%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    color: white;
  }
  @media (max-width:550px) {
    .custom-hero-text{
        width: 85%;
        margin: 0 auto;
      }
      .custom-hero-heading{
        width: 85%;
        margin: 0 auto;
      }
  }
  @media (max-width:991px) {
    .custom-hero-text{
        font-size: 20px;
      }
      .custom-hero-heading{
        font-size: 35px;
      }
      .custom-hero-text1{
        font-size: 20px;
      }
      .custom-hero-heading1{
        font-size: 35px;
      }
  }
  @media (max-width:767px) {
    .custom-hero-text{
        font-size: 18px;
      }
      .custom-hero-heading{
        font-size: 28px;
      }
      .custom-hero-text1{
        font-size: 18px;
      }
      .custom-hero-heading1{
        font-size: 28px;
      }
  }
  .swiper-button-next,.swiper-button-prev{
    color: white !important;
  }
  @media (max-width:767px) {
    .swiper-button-prev:after, .swiper-button-next:after {
      font-size: 25px !important;
  }
  }
  .section-2-heading{
    font-size: 35px;
    font-weight: bold;
    color: #232323;
  }
  
  @media (max-width:767px) {
    .section-2-heading{
        font-size: 24px;
      }
  }

  .elementor-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #b82025; 
    border-radius: 50%; 
  }
  
  .elementor-icon svg {
    width: 50px;
    height: 50px;
    fill: white;
  }
  @media (max-width:767px) {
    .elementor-icon{
        margin: 0 auto;
    }
  }
  .our-soluion-heading{
    font-size: 22px;
    font-weight: bold;
  }
.our-solution-text{
  font-size: 16px;
  color: #5e5c5c;
}
.our-solution-button{
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  border: 2px #EFEFEF solid;
  border-radius: 5px;
  background-color: #EFEFEF;
  padding: 10px 20px;
  transition: background-color 0.8s ease, border 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}
.our-solution-button:hover {
  background-color: #b82025;
  border: 2px solid #b82025;
  transform: scale(1.02);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  color: #fff0f0;
}
@media (max-width:767px) {
  .our-soluion-heading{
    font-size: 20px;
    font-weight: bold;
  }
.our-solution-text{
  font-size: 15px;
  color: #5e5c5c;
}
.our-solution-button{
  font-size: 13px;
}
}

.navbar-toggler {
  background-color: white !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1s ease forwards;
}

.fade-in.visible {
  animation-play-state: running;
}

.underline {
  color: #b82025;
  border-bottom: 5px solid #b82025;
}
.our-solution-card{
  box-shadow: 0px 0px 10px 0px rgba(202.5, 202.5, 202.5, 0.5);
  padding:20px;
}
.our-solution-card1{
  box-shadow: 0px 0px 10px 0px rgba(202.5, 202.5, 202.5, 0.5);
}
.social-icon-facebook {
  background-color: #3b5998 !important;
    color: #fff;
    text-decoration: none;
}
.icons{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: var(--icon-size, 25px);
  line-height: var(--icon-size, 25px);
  width: calc(var(--icon-size, 25px) + 2* var(--icon-padding, .5em));
  height: calc(var(--icon-size, 25px) + 2* var(--icon-padding, .5em));
  border-radius: 10%;
}
.social-icon-instagram{
    color: #fff;
    text-decoration: none;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}
.social-icon-twitter{
  background-color: #1da1f2;
  color: white;
  text-decoration: none;
}
.social-icon-youtube{
  background-color: #cd201f;
  color: white;
  text-decoration: none;
}
.social-icon-linkedin{
  background-color: #0077b5;
  color: white;
  text-decoration: none;
}