 .dropdown-submenu {
    position: relative;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal !important;
    font-weight: 400;
  }
  h1,h2,h3,h4,h5,h6,p,a,span,button{
    font-family: 'Roboto', sans-serif !important;
  }
.dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
} 

.nav-item .nav-link{
    color: #032e42;
    font-weight: 500;
}
.nav-item{
    padding-left: 20px;
}
.nav-link {
    position: relative;
    transition: color 0.3s ease, border-bottom-width 0.3s ease;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #d83030;
    transition: width 0.3s ease;
}
.nav-link.active {
    color: #d83030 !important;
    position: relative;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 30%;
    height: 2px;
    background-color: #d83030;
}
ul li.nav-item .nav-link{
    padding-left: 0px !important;
}
.nav-link:hover {
    color: #d83030 !important;
}

.nav-link:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 2px;
    background-color: #d83030;
    transition: width 0.3s ease;
}


.dropdown-item{
    border-radius: 20px !important;
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: transparent !important;
    --bs-dropdown-link-active-color:black !important;
}
.dropdown-toggle::after {

    border: none !important;
}
.offcanvas-header{
    background-color: #d83030;
}
@media (max-width:991px) {
    .nav-link.active::after {
        content: none !important;
    }
    .nav-link:hover::after {
        content: none !important;
    }
}
.dropdown-menu li .dropdown-item span {
    position: relative;
    font-size: 14px;
  }
  .dropdown-menu li .dropdown-item span:before {
    content: "\f061";
    position: absolute;
    top: 60%;
    left: 3px;
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 12px;
    opacity: 0;
    transform: translate(0, -50%);
  }
  
  .dropdown-menu li .dropdown-item:hover span:before {
    opacity: 1;
    color:#d83030;
  }
  
  .dropdown-menu li .dropdown-item:hover {
    color: #d83030;
    background-color: transparent !important;
    border-radius: 0% !important;
  }
  .dropdown-menu li .dropdown-item {
    position: relative;
    padding-bottom: 8px;
    border-radius: 0% !important;
  }
  
  .dropdown-menu li .dropdown-item::after {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 0;
    width: 90%;
    height: 1px;
    background-color: #e6e6e6;
  }
  
  .dropdown-menu li:last-child .dropdown-item::after {
    content: none;
  }
  
  .dropdown-menu li .dropdown-item:hover span {
    padding-left: 20px;
  }
  .dropdown-menu{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none !important
  }
  .main-menu{
    margin-top: 20px !important;
  }
  @media (max-width:991px) {
    .dropdown-menu{
      box-shadow: none !important;
      border: none !important
    }
    .dropdown-menu li .dropdown-item::after {
      content: none;
    }
    .main-menu{
      margin-top: 0px !important;
    }
    .submenu-child{
      padding-left: 20px !important;
    }
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke=' rgb(216, 48, 48)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  .navbar-toggler{
    border-color: #d83030 !important;
  }
  .custom-toggler:focus {
    outline: none;
    box-shadow: none !important;
  }
  footer{
    background-color:  #23262F;;
  }
  footer h4 {
    position: relative;
    display: inline-block;
    color: white;
    padding-bottom: 10px !important;
  }
  
  footer h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    border-bottom: 3px solid #b82025;
  }
  footer p{
    color: white;
    font-size: 14px;
  }
  .footer-icon{
    background-color: #292929;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 8px;
    text-decoration: none !important;
}
.footer-icon .fab{
  font-size: 16px;
  color: white;
}
footer ul li a{
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.footer-text-inner{
  font-weight: bold !important;
  font-size: 16px !important;
}
.footer-last{
  background-color: #1A1D24;
}
.navbar-container {
  transition: all 0.3s ease;
  background-color: white;
}

@media (min-width:991px) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } 
}
.swiper-slide{
  cursor: pointer;
}