 .dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
} 
.nav-item .nav-link{
    color: white;
}
.nav-link.active {
    /* font-weight: bold;
    transition: all 0.3s ease;
    transform: scale(1.2); */
    color: white !important;
}

.nav-link {
    transition: transform 0.3s ease;
}

.nav-link:not(.active) {
    transform: scale(1); /* Ensure non-active links have no transform applied */
}
.nav-link:hover{
    font-weight: bold;
    transition: all 0.3s ease;
    transform: scale(1.2);
    color: white !important;
}
.dropdown-item{
    border-radius: 20px !important;
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: transparent !important;
    --bs-dropdown-link-active-color:black !important;
}